imutils==0.5.3
incremental==21.3.0
ipykernel==5.1.1
ipython==7.6.1
ipython_genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
itypes==1.2.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.10.1
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.13.2
json5==0.8.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-launcher==0.13.1
jupyterlab-server==1.0.0
kaggle==1.5.12
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
libclang==14.0.6
llvmlite==0.29.0
locket==0.2.0
lockfile==0.12.2
lvis==0.5.3
lxml==4.4.1
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.2.1

mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==3.0.5
more-itertools==7.0.0
mpmath==1.1.0
msgpack==0.6.1


nbconvert==5.5.0
nbformat==4.4.0

nltk==3.4.4

notebook==6.0.0
numba==0.44.1
numexpr==2.8.3
numpy==1.21.6
numpydoc==0.9.1
oauth2client==4.1.3
oauthlib==3.2.0
object-detection==0.1
odo==0.5.1
olefile==0.46
opencv-contrib-python==4.6.0.66
opencv-python==4.2.0.34
opencv-python-headless==4.6.0.66
openpyxl==2.6.2
opt-einsum==3.3.0
orjson==3.7.12
packaging==21.3
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.4
patsy==0.5.1
pefile==2022.5.30
pep8==1.7.1
absl-py==1.2.0
alabaster==0.7.12
altgraph==0.17.2
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
apache-beam==2.40.0
appdirs==1.4.4
arrow==1.2.2
asgiref==3.5.2
asn1crypto==0.24.0
astor==0.8.1
astroid==2.2.5
astropy==3.2.1
astunparse==1.6.3
atomicwrites==1.3.0
attr==0.3.1
attrs==19.1.0
Automat==20.2.0
avro-python3==1.10.2
aws-lambda-builders==1.18.0
aws-sam-cli==1.55.0
aws-sam-translator==1.50.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bcrypt==3.1.6
beautifulsoup4==4.7.1
binaryornot==0.4.4
bitarray==0.9.3
bkcharts==0.2
blaze==0.11.3
bleach==3.1.0
bokeh==1.2.0
boto==2.49.0
boto3==1.24.60
botocore==1.27.60
Bottleneck==1.2.1
boxing==0.1.4
cachetools==4.2.4
certifi==2022.6.15
cffi==1.12.3
chardet==3.0.4
charset-normalizer==2.1.1
chevron==0.14.0
click==7.1.2
cloudpickle==2.1.0
clyent==1.2.2
colorama==0.4.1
commonmark==0.9.1
comtypes==1.1.7
conda==4.14.0
conda-build==3.21.9
conda-package-handling==1.3.11
conda-verify==3.4.2
config==0.5.1
constantly==15.1.0
contextlib2==0.5.5
cookiecutter==2.1.1
crcmod==1.7
cryptography==2.7
cycler==0.10.0
Cython==0.29.12
cytoolz==0.10.0
dask==2.1.0
datashape==0.5.4
dateparser==1.1.1
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
distributed==2.1.0
Django==3.2.15
django-model-utils==4.2.0
django-ranged-fileresponse==0.1.2
dm-tree==0.1.7
docker==4.2.2
docopt==0.6.2
docutils==0.14
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
entrypoints==0.3
et-xmlfile==1.0.1
etils==0.7.1
expiringdict==1.1.4
ez-setup==0.9
fastavro==1.6.0
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.4
Flask-Cors==3.0.10
flatbuffers==23.3.3
fonttools==4.36.0
future==0.17.1
gast==0.3.3
gdown==4.7.1
gevent==1.4.0
gin-config==0.5.0
glob2==0.7
google-api-core==2.8.2
google-api-python-client==2.57.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
greenlet==0.4.15
grpcio==1.47.0
h5py==2.10.0
hdfs==2.7.0
heapdict==1.0.0
html5lib==1.0.1
htmlmin==0.1.12
httplib2==0.20.4
huggingface-hub==0.2.1
hyperlink==21.0.0
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
pickleshare==0.7.5
Pillow==9.2.0
pip==23.1.2
pkginfo==1.8.3
pluggy==0.12.0
ply==3.11
portalocker==2.5.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.9
proto-plus==1.22.0
protobuf==3.19.4
psutil==5.6.3
py==1.8.0
py-cpuinfo==8.0.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydot==1.4.2
pyflakes==2.1.1
Pygments==2.13.0
PyHamcrest==2.0.2
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.9
pylint==2.3.1
pymongo==3.12.3
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.7.0
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
python-slugify==6.1.2
pytz==2019.3
PyWavelets==1.0.3
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.4.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
readme-renderer==37.0
regex==2021.9.30
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
rope==0.14.0
rsa==4.9
ruamel_yaml==0.15.46
rules==2.2
s3transfer==0.6.0
sacrebleu==2.2.0
sacremoses==0.0.43
scikit-image==0.15.0
scikit-learn==1.0.2
scipy==1.4.1
seaborn==0.9.0
semver==2.13.0
Send2Trash==1.5.0
sentencepiece==0.1.97
seqeval==1.2.2
serverlessrepo==0.1.10
service-identity==18.1.0
setuptools==65.1.0
simplegeneric==0.8.1
simplejson==3.17.6
singledispatch==3.4.0.3
six==1.16.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.5
sqlparse==0.4.2
statsmodels==0.10.0
sympy==1.4
tables==3.5.2
tabulate==0.8.10
tb-nightly==2.10.0a20220811
tblib==1.4.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.17.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.11.0
tensorflow-hub==0.12.0
tensorflow-intel==2.11.0
tensorflow-io==0.26.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.9.0
tensorflow-model-optimization==0.7.3
tensorflow-object-detection-api==0.1.1
tensorflow-probability==0.17.0
tensorflow-text==2.9.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
tf-estimator-nightly==2.11.0.dev2022082508
tf-models-official==2.9.2
tf-slim==1.1.0
threadpoolctl==2.2.0
tokenizers==0.11.4
toml==0.10.2
tomlkit==0.7.2
toolz==0.10.0
torch==1.10.2
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
transformers==4.18.0
tweepy==4.10.1
twine==4.0.1
Twisted==19.2.0
typeguard==2.13.3
typing-extensions==3.10.0.0
tzdata==2022.2
tzlocal==3.0
ua-parser==0.16.0
ujson==5.4.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.12
user-agents==2.2.0
watchdog==2.1.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.4.0
Werkzeug==1.0.1
wget==3.2
wheel==0.37.1
widgetsnbextension==3.5.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
xmljson==0.2.0
zict==1.0.0
zipp==3.8.1
zope.interface==4.6.0
